main {
  min-height: 80vh;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.card-text {
  display: flex;
  justify-content: space-between;
}

.disabled-link {
  pointer-events: none;
  color: gray;
}

.pagination-center {
  display: flex;
  justify-content: center;
}
